<!doctype html>
<html lang="en">
  <module href="/components/head.html" locals='{"title": "Page Not Found"}'></module>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-accent sticky-top">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Get help</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    </nav>

    <div class="container-fluid">
      <h1>Page Not Found</h1>
      <p>The specified file was not found on this website. Please check the URL for mistakes and try again.</p>
      <a href="/" role="button" class="btn btn-primary">Go to home page</a>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>
