<!doctype html>
<html lang="en">
  <head>
    <module href="/components/head.html" locals='{"title": "Get help"}'></module>
    <meta name="description" content="Mental health resources, here for you 24/7.">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-accent sticky-top">
      <div class="navbar-nav">
        <span class="nav-item nav-link active">Get help</span>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    </nav>
    <div class="container-fluid">
      <h1>You are not alone</h1>
      <p id="subtitle">These resources are here for you 24/7</p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">911</h2>
              <p class="card-text">If you or someone you know is in immediate danger, call 911 now.</p>
              <a href="tel:911" role="button" class="btn btn-danger">Call 911</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Suicide Prevention Lifeline</h2>
              <p class="card-text">For anyone who is depressed, going through a hard time, needs to talk, or is thinking about suicide.</p>
              <a href="tel:1-800-273-8255" role="button" class="btn btn-primary">Call</a>
              <a href="https://suicidepreventionlifeline.org/chat/" role="button" class="btn btn-secondary">Online Chat</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Crisis Text Line</h2>
              <p class="card-text">For any crisis.</p>
              <a href="sms:741741?&body=HOME" role="button" class="btn btn-primary">Text</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">The Trevor Project</h2>
              <p class="card-text">For LGBTQ individuals who are in crisis, feeling suicidal, or in need of a safe and judgment-free place to talk.</p>
              <a href="tel:1-866-488-7386" role="button" class="btn btn-primary">Call</a>
              <a href="sms:678678?&body=START" role="button" class="btn btn-secondary">Text</a>
              <a href="https://www.thetrevorproject.org/get-help-now/" role="button" class="btn btn-secondary">Online Chat</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Domestic Violence Hotline</h2>
              <p class="card-text">For anyone who is experiencing domestic violence, seeking resources or information, or questioning unhealthy aspects of their relationship.</p>
              <a href="tel:1-800-799-7233" role="button" class="btn btn-primary">Call</a>
              <a href="https://www.thehotline.org/help" role="button" class="btn btn-secondary">Online Chat</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Disaster Distress Helpline</h2>
              <p class="card-text">For anyone who is experiencing emotional distress related to any natural or human-caused disaster.</p>
              <a href="tel:1-800-985-5990" role="button" class="btn btn-primary">Call</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>
