@import "fonts";
@import "custom";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/utilities";

nav {
  margin-bottom: 10px;
}

.btn {
  min-width: 5em;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 1rem .7rem;
  color: $white;
  @include hover-focus() {
    color: $white;
    background-color: #007135;
  }
  &.active {
    background-color: #00612d;
  }
}

h1 {
  font-family: Cabin, sans-serif;
}

h2 {
  font-size: 1.75rem;
}

#subtitle {
  font-size: 1.5rem;
}
